* {
  margin: unset;
  padding: unset;
}

/* . はじまりはhtmlでclass="header"を指定 */
.header {
  background-color: #000;
  color: #fff;
  padding: 16px;
}

.main-title {
  margin: 20px;
  font-size: 24px;
  font-weight: bold;
}

.main-text {
  margin: 0 20px;
  font-size: 16px;
}

.content-item {
  margin: 16px;
  padding: 16px;
  border: 2px solid #000;
  background-color: #f5f5f5;
}

.content-item-title {
  font-size: 20px;
  font-weight: bold;
  background-color: #000;
  color: #fff;
  padding: 8px;
}

.content-item-text {
  font-size: 16px;
  margin: 16px;
}

.content-child-item {
  margin: 16px;
  border: 2px solid #000;
  padding: 16px;
}

.content-child-item-title {
  font-size: 16px;
}

.menu {
  margin: 16px;
  display: flex;
  gap: 8px;
}

.menu-list {
  list-style-type: none;
}

.menu-list a {
  padding: 16px;
  display: block;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  min-width: 100px;
  text-align: center;
}

.menu-list a:hover {
  background-color: #666;
}

.box1 {
  margin: 10px;
  padding: 10px;
  width: 100px;
  height: 100px;
  background-color: red;
  border: 20px solid yellow;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: blue;
}

.entry {
  border: 3px solid #333;
  width: 25%;
  max-width: 260px;
}

.entry-img img {
  width: 100%;
}

.entry-category-item {
  margin: 8px;
  padding: 8px;
  list-style-type: none;
  background-color: #333;
  color: #fff;
  display: inline-block;
}

.entry-text {
  margin: 8px;
}

.entry-container{
  display: flex;
  gap: 8px;
  padding-top: 8px;
  justify-content: center;
}

.flex-container {
  margin: 18px;
  height: 500px;
  display: flex;
  gap: 18px;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.flex-item {
  width: 100px;
  height: 100px; 
  background-color: red;
}

.entry-card {
  display: grid;
  grid-template:
    "entry-card-img entry-card-title" auto
    "entry-card-img entry-card-description" 1fr
    "entry-card-img entry-card-more" auto
    / 300px 1fr;
  row-gap: 8px;
  column-gap: 16px;

  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(0deg, #eee, #fff);
}

/* templateで決めた位置の配置をgrid-areaで指定する */
.entry-card-img {
  grid-area: entry-card-img;
}
.entry-card-img img  {
  width: 100%;
  border-radius: 8px;
}
.entry-card-title {
  grid-area: entry-card-title;
}

.entry-card-title a {
  color: #333;
} 

.entry-card-title a:hover {
  color: #339c;
}

.entry-card-description {
  grid-area: entry-card-description;
}
.entry-card-more {
  grid-area: entry-card-more;
  text-align: right;
}

.entry-card-more a {
  display: inline-block;
  background: #39c;
  transition: 0.3s all ease;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
}

.entry-card-more a:hover {
  opacity: 0.8;
}

.fixed {
  position: fixed;
  bottom: 300px;
  right: 20px;
  background: green;
  color: #fff;
  padding: 16px;
}


.relative {
  position: relative;
  top: -40px;
  left: 500px;
  background-color: brown;
  width: 180px;
  height: 40px;
  color: #fff;
  padding: 2px;
}

.absolute {
  position: absolute;
  background-color: blue;
  top: -45px;
  right: 20px;
  width: 180px;
  height: 40px;
  color: #fff;
  padding: 16px;
  z-index: 2;
}


.absoluteWrapper {
  position: relative;
  height: 100px;
  /*background: yellow;*/
}

.new {
  position: absolute;
  background-color: red;
  padding: 20px;
  border-radius: 50%;
  top: -80px;
  right: -30px;
  color: #fff;
  z-index: 1;
}

.ori{
  background-color: yellow;
}

